---
import Icon from 'astro-icon';

export interface Props {
   bg?: string
}

const { bg = "white"} = Astro.props;
---
<span class={`${bg} text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded`}>
    <slot/>
</span>