---
import type { MarkdownHeading, MarkdownLayoutProps, } from 'astro'
import Link from './Link.astro';
type Props = {
    frontmatter: {
        title: string;
        description?: string;
        author: string;
        version: string;
    };
    headings: MarkdownHeading[];
};

const { frontmatter, headings} = Astro.props as Props

const headingFormat = (depth: number) => depth == 2 ? `text-sm font-bold` : `text-sm` 
---
{frontmatter && 
    <h2 class="text-md mb-3 text-blue-900 dark:text-white font-bold">Quick Links</h2>
    <ul class="space-y-2">   
        {headings.map(h => (
            <li class={`ml-${h.depth} ${headingFormat(h.depth)}`}>
                <Link url={`#${h.slug}`} padding="1">
                    <span>{h.text}</span>
                </Link>
   
                
            </li>
        ))} 
    </ul>
}
