---
import type { MarkdownHeading, MarkdownLayoutProps, } from 'astro'
import Link from './Link.astro';
type Props = {
    frontmatter: {
        title: string;
        description?: string;
        author: string;
        version: string;
    };
    headings: MarkdownHeading[];
};

const { frontmatter, headings} = Astro.props as Props

const headingFormat = (depth: number) => depth == 2 ? `text-sm font-bold` : (depth == 3 ? `ml-3 text-sm` : `ml-5 text-xs`) 
---
{frontmatter && 
    <h2 class="text-md mb-3 text-blue-900 dark:text-white font-bold">Quick Links</h2>
    <ul class="space-y-1">   
        {headings.map(h => (
            <li class={`${headingFormat(h.depth)}`}>
                <Link url={`#${h.slug}`} padding="p-1">
                    <span>{h.text}</span>
                </Link>             
            </li>
        ))} 
    </ul>
}
