---
import type { MarkdownHeading, MarkdownLayoutProps, } from 'astro'
type Props = {
    frontmatter: {
        title: string;
        description?: string;
        author: string;
    },
    version:string
}

const {frontmatter, version} = Astro.props as Props
---
{frontmatter && 
    <div class="border-t border-slate-800">
        <div class="flex place-content-between">
            <div><span class="text-md text-green-800 pt-0">Author: </span><span class="text-sm">{frontmatter.author}</span></div>
            <div><span class="text-md text-green-800 pt-0">Version: </span><span class="text-sm">{version}</span></div>
        </div>
    </div>    
}

