---
import Icon from "astro-icon";


export interface Props {
    url: string;
	icon: string;
    label?: string;
	width?: string;
}

const { url, icon, label, width="20" } = Astro.props;
---

<a href={url} class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:bg-gray-200">
    <Icon name={icon} width={width}/>
    <span class="ml-3">{label}</span>
</a>
