---
import Icon from "astro-icon";
export interface Props {
    url: string;
    padding?: string
}

const { url, padding="2" } = Astro.props;
---

<a href={url} class={`flex items-center gap-2 p-${padding} rounded-lg text-gray-800 dark:text-gray-200 hover:bg-gray-600 hover:text-white`}>
   <slot/>
</a>
